<nav class="navbar-vertical-compact ">
    <div>
        <!-- Brand logo -->
        <a class="navbar-brand" href="../../index.html">
            <img src="~/Theme/images/brand/logo/logo-icon.svg" alt="" class="text-inverse" height="30">
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link dropdownTooltip" href="#"
                   data-template="chat">
                    <i class="nav-icon fe fe-home"></i>
                    <div id="chat" class="d-none">
                        <span class="fw-semi-bold fs-6">لوحة التحكم </span>
                    </div>
                </a>
            </li>
        </ul>
        <!-- Card -->
    </div>
</nav>